* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background: #f5f7fa;
  color: #333;
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: #111827;
  color: white;
  position: sticky;
  top: 0;
}

.logo {
  font-weight: 700;
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #3b82f6;
}

/* Hero */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #3b82f6, #6366f1);
  color: white;
  text-align: center;
}

.hero span {
  color: #111827;
  background: white;
  padding: 4px 10px;
  border-radius: 5px;
}

.btn-primary {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: white;
  color: #111827;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #111827;
  color: white;
}

/* Sections */
.section {
  padding: 70px 10%;
}

.light-bg {
  background: #eef2ff;
}

.center {
  text-align: center;
}

/* About */
.about-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.about-container img {
  width: 220px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  border: 5px solid #3b82f6;
}

.about-container img:hover {
  transform: scale(1.05);
}

/* Skills */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.skill-card {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-5px);
}

/* Project */
.project-card img {
  width: 300px;
  border-radius: 20px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #111827;
  color: white;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 768px) {
  .about-container,
  .project-card {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    display: none;
  }
}
